style 
  include ../styles/auth/style.css
div(class="main-container")

  form(class="form-container")
    img(src="/auth/logo.svg" alt="logo" class="logo")
    h1(class="title") Account login

    div(class="logo-input")
      img(src="/auth/user_1.svg" alt="")
      input(id="user"
            type="text"
            name="user"
            autocomplete="off"
            class="text-input"
            placeholder="Username Or Email address")
    div(class="logo-input")
      img(src="/auth/padlock_1.svg" alt="")
      input( class="text-input-1"
             name="password"
             id="password"
             type="password"
             placeholder="Password")

//- <!DOCTYPE html>
//- <html lang="es">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Document</title>
//-     <link rel="stylesheet" href="../styles/auth/style.css" />
//-   </head>
//-   <body>
//-     <div class="main-container">
//-       <form class="form-container" id="form-auth">
//-         <img src="../assets/auth/logo.svg" alt="logo" class="logo" />

//-         <h1 class="title">Account Login</h1>

//-         <div class="logo-input">
//-           <img src="../assets/auth/user_1.svg" alt="" />
//-           <input
//-             id="user"
//-             type="text"
//-             name="user"
//-             autocomplete="off"
//-             class="text-input"
//-             placeholder="Username Or Email address"
//-           />
//-         </div>
//-         <div class="logo-input">
//-           <img src="../assets/auth/padlock_1.svg" alt="" />
//-           <input
//-             class="text-input-1"
//-             name="password"
//-             id="password"
//-             type="password"
//-             placeholder="Password"
//-           />
//-         </div>
//-         <div class="extra">
//-           <div class="container-checkbox">
//-             <input type="checkbox" />
//-             Remember me
//-           </div>
//-           <p>Forgot password?</p>
//-         </div>
//-         <button class="btn-login" type="submit">
//-           Login
//-         </button>
//-         <div class="container-login-with">
//-           <span class="line"></span>
//-           <p class="login-with">Or Login with</p>
//-           <span class="line"></span>
//-         </div>
//-         <div class="container-networks">
//-           <div class="logo-network">
//-             <img src="../assets/auth/facebook.svg" alt="" class="facebook" />
//-           </div>
//-           <div class="logo-network">
//-             <img src="../assets/auth/twitter.svg" alt="" class="twitter" />
//-           </div>

//-           <div class="logo-network">
//-             <img src="../assets/auth/google.svg" alt="" class="google" />
//-           </div>
//-         </div>

//-         <p class="sing-up">
//-           Dont't have an account ? <a href="" class="register">Sing Up</a>
//-         </p>
//-       </form>
//-     </div>
//-     <script src="../js/validaterForm/index.js" type="module"></script>
//-   </body>
//- </html>
